<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shxy.w202350766.suiestation.mapper.ForumPostMapper">

    <resultMap id="BaseResultMap" type="com.shxy.w202350766.suiestation.domain.ForumPost">
            <id property="id" column="id" />
            <result property="sectionId" column="section_id" />
            <result property="userId" column="user_id" />
            <result property="title" column="title" />
            <result property="content" column="content" />
            <result property="images" column="images" />
            <result property="viewCount" column="view_count" />
            <result property="replyCount" column="reply_count" />
            <result property="likeCount" column="like_count" />
            <result property="collectCount" column="collect_count" />
            <result property="isTop" column="is_top" />
            <result property="isEssence" column="is_essence" />
            <result property="status" column="status" />
            <result property="lastReplyTime" column="last_reply_time" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,section_id,user_id,title,content,images,
        view_count,reply_count,like_count,collect_count,is_top,
        is_essence,status,last_reply_time,create_time,update_time
    </sql>
</mapper>
