<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shxy.w202350766.suiestation.mapper.ThankYouNoteMapper">

    <resultMap id="BaseResultMap" type="com.shxy.w202350766.campusserviceplatform.domain.ThankYouNote">
            <id property="id" column="id" />
            <result property="lostFoundId" column="lost_found_id" />
            <result property="userId" column="user_id" />
            <result property="title" column="title" />
            <result property="content" column="content" />
            <result property="images" column="images" />
            <result property="isPublic" column="is_public" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,lost_found_id,user_id,title,content,images,
        is_public,create_time
    </sql>
</mapper>
